{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/logo.ico'%}" type="image/ico" sizes="32x32">    <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

    <title>Gamnest | Location</title>
</head>
<body>
    <div class="location-wrapper p-4">
        <div class="relative flex items-center justify-center w-full mt-2">
            <a href="gamepage01" class="absolute left-0">
                <img src="{% static 'assets/back.png'%}" alt="Back" class="w-6 h-6">
            </a>
            <div class="font-semibold text-xl">Edit Profile</div>
        </div>
        <div class="flex mt-5 justify-center relative mx-auto bg-gray-400 w-20 h-20 rounded-full mb-[-180px]">
            <img id="avatar" src="{%static 'assets/large.png'%}" class="absolute  rounded-full" />
            <div class="w-6 h-6 bottom-0 right-0 bg-yellow-400 rounded-full absolute cursor-pointer" onclick="document.getElementById('fileInput').click()">
              <img src="{%static 'assets/camera.png'%}" style="width:16px;" class="absolute top-1 left-1" />
            </div>
            <!-- Hidden File Input -->
            <input type="file" id="fileInput" accept="image/*" style="display: none;" onchange="loadFile(event)" />
          </div>      
          <!-- Form Fields -->
          <div class="space-y-4 text-left">
            <label class="block text-gray-700 relative text-sm font-medium">
              Name
              <div class="relative" >
                <input type="text" name="fname" value="{{name.name}}" placeholder="Enter your full name" required class="w-full mt-1 px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-yellow-400 caret-yellow-400 ">
                {% if user_profile and user_profile.user_profile %}
                <img class="absolute top-3 right-2 object-fit-cover" src="{%static 'assets/edit-2black.png'%}" />
                {% else %}
                <img class="absolute top-3 right-2 object-fit-cover" src="{%static 'assets/edit-2black.png'%}" />
                {% endif %}

              </div>
            </label>
          <div class="space-y-4 text-left">
            <label class="block text-gray-700 text-sm font-medium">
              Username
              <div class="relative" >
                <input type="text" name="username" placeholder="Enter your username" value="{{username}}" class="w-full mt-1 px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-yellow-400 caret-yellow-400 ">
                <img class="absolute top-3 right-2 object-fit-cover" src="{%static 'assets/edit-2black.png'%}" />
              </div>
            </label>
      
            <label class="block text-gray-700 text-sm font-medium relative">
              Date of birth
              <div class="relative">
                <input type="date" name="date" id="datepicker" value="{dob.dob}" class="w-full mt-1 px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-yellow-400 caret-yellow-400">
              </div>
            </label>
            <label class="block text-gray-700 text-sm font-medium">
                Email
                <div class="relative">
                  <input type="text" name="email" placeholder="Enter your email" value="{{user.email}}" class="w-full mt-1 px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-yellow-400 caret-yellow-400 ">
                  <img class="absolute top-3 right-2 object-fit-cover" src="{%static 'assets/edit-2black.png'%}" />
                </div>
              </label>
              <div class="flex justify-between items-center">
                <div>Change Password?</div>
                <div>
                    <label class="switch">
                        <input type="checkbox" id="togglePasswordFields">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            
            <!-- Password fields container -->
            <div id="passwordFields">
                <label class="block text-gray-700 text-sm font-medium relative">
                    Current Password
                    <div class="relative">
                        <input id="currentPassword" required type="password" name="currentpassword" placeholder="Enter your current password"
                               class="w-full mt-1 px-4 py-2 border focus:ring-yellow-300 caret-yellow-300 border-gray-300 rounded focus:outline-none focus:ring-2">
                        <span class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
                              onclick="togglePasswordVisibility('currentPassword')">
                            <i id="toggleIconCurrent" class="fas fa-eye-slash text-gray-500"></i>
                        </span>
                    </div>
                </label>
            
                <label class="block text-gray-700 text-sm font-medium relative">
                    New Password
                    <div class="relative">
                        <input id="newPassword" name="newpassword" required type="password" placeholder="Enter new password"
                               class="w-full mt-1 px-4 py-2 border focus:ring-yellow-300 caret-yellow-300 border-gray-300 rounded focus:outline-none focus:ring-2">
                        <span class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
                              onclick="togglePasswordVisibility('newPassword')">
                            <i id="toggleIconNew" class="fas fa-eye-slash text-gray-500"></i>
                        </span>
                    </div>
                    <p class="text-gray-400 font-normal">Password must be at least 8 characters long!</p>
                </label>
            
                <label class="block text-gray-700 pt-4 text-sm font-medium relative">
                    Confirm New Password
                    <div class="relative">
                        <input id="confirmPassword" required type="password" placeholder="Enter new password"
                               class="w-full mt-1 px-4 py-2 border focus:ring-yellow-300 caret-yellow-300 border-gray-300 rounded focus:outline-none focus:ring-2">
                        <span class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
                              onclick="togglePasswordVisibility('confirmPassword')">
                            <i id="toggleIconConfirm" class="fas fa-eye-slash text-gray-500"></i>
                        </span>
                    </div>
                    <p class="text-gray-400 font-normal">Make sure your password matches the password above!</p>
                </label>
            </div>
            
            <a href="gamepage01" >
              <button  type="button" class="btn items-center hover:bg-yellow-400 w-full py-2 mb-3 mt-4 rounded-full border border-gray-300  font-bold text-gray-700">
                Done
              </button>
              </a>
          </div>
    </div>
    <script src="https://kit.fontawesome.com/da726f302a.js" crossorigin="anonymous"></script>

    <script>
      function togglePasswordVisibility() {
          const passwordInput = document.getElementById('password');
          const toggleIcon = document.getElementById('toggleIcon');
          if (passwordInput.type === 'password') {
              passwordInput.type = 'text';
              toggleIcon.classList.remove('fa-eye-slash');
              toggleIcon.classList.add('fa-eye');
          } else {
              passwordInput.type = 'password';
              toggleIcon.classList.remove('fa-eye');
              toggleIcon.classList.add('fa-eye-slash');
          }
      }
      document.getElementById('togglePasswordFields').addEventListener('change', function () {
        const passwordFields = document.getElementById('passwordFields');
        if (this.checked) {
            passwordFields.style.display = 'block';
        } else {
            passwordFields.style.display = 'none';
        }
    });

    // Function to toggle password visibility
    function togglePasswordVisibility(passwordFieldId) {
        const passwordField = document.getElementById(passwordFieldId);
        const toggleIcon = document.querySelector(`#toggleIcon${passwordFieldId.charAt(0).toUpperCase() + passwordFieldId.slice(1)}`);

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleIcon.classList.remove('fa-eye-slash');
            toggleIcon.classList.add('fa-eye');
        } else {
            passwordField.type = "password";
            toggleIcon.classList.remove('fa-eye');
            toggleIcon.classList.add('fa-eye-slash');
        }
    }
  </script>
   
</body>
</html>
