{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/logo.ico'%}" type="image/ico" sizes="32x32">    <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Gamnest | Language</title>
</head>
<body>
    <div class="location-wrapper p-4">
        <div class="relative flex items-center justify-center w-full mt-2">
            <a href="gamepage01" class="absolute left-0">
                <img src="{% static 'assets/back.png'%}" alt="Back" class="w-6 h-6">
            </a>
            <div class="font-semibold text-xl">Change Language</div>
        </div>
          
        <div class="location-div relative flex items-center gap-2 cursor-pointer"> 
        English
            <img src="{%static 'assets/tick.png'%}" alt="Tick" class="tick-icon ml-auto" />
        </div>
        <hr />
        <div class="location-div relative flex items-center gap-2 cursor-pointer"> 
            French
            <img src="{%static 'assets/tick.png'%}" alt="Tick" class="tick-icon ml-auto" />
        </div>
        <hr />
        <div class="location-div relative flex items-center gap-2 cursor-pointer"> 
            Dutch
            <img src="{%static 'assets/tick.png'%}" alt="Tick" class="tick-icon ml-auto" />
        </div>
        <hr />
        <div class="location-div relative flex items-center gap-2 cursor-pointer"> 
            Swedish
            <img src="{%static 'assets/tick.png'%}" alt="Tick" class="tick-icon ml-auto" />
        </div>
        <hr />
        <div class="location-div relative flex items-center gap-2 cursor-pointer"> 
            Spansih
            <img src="{%static 'assets/tick.png'%}" alt="Tick" class="tick-icon ml-auto" />
        </div>
        <hr />
        
    </div>

    <script>
        // Get all location-div elements
        const locations = document.querySelectorAll('.location-div');

        // Add click event listener to each location
        locations.forEach(location => {
            location.addEventListener('click', function () {
                // Remove font-bold class and hide tick for all locations
                locations.forEach(loc => loc.classList.remove('font-bold', 'selected'));

                // Add font-bold class and show tick for the clicked location
                location.classList.add('font-bold', 'selected');
            });
        });
    </script>
</body>
</html>
